<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section  id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br/>
            With Us Today
        </h2>
        <p>
            Need reliable plumbing or contracting services? We've got you covered! From quick fixes to major renovations, our expert team is here to handle it all. Contact us today for a FREE quote and discover why we're the trusted choice in the community. Don't wait—let's get started on your project now!        </p>
        <a href="/contact" class="cs-button-solid">Call for a Quote</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cta.jpg" alt="" loading="lazy" width="2500" height="1667">
    </picture>

</section>