---
title: 'Terms of Service| Montano Plumbing & Contracting LTD.'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'terms-of-service/'
eleventyNavigation:
   
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">

        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ site.url }}/assets/images/ogmontano.png"/>
        <meta property="og:image:secure_url" content="{{ site.url }}/assets/images/ogmontano.png"/>
{% endblock %}

{% block body %}

<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1448">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-int-title">Terms of Service</span>
            <div class="cs-breadcrumbs">
                <a href="" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">Terms of Service</a>
            </div>
        </div>
        <!-- <picture class="cs-picture"> -->
            <!--Mobile Image-->
            <!-- <source media="(max-width: 600px)" srcset="/assets/images/termsandpolicybanner.jpg"> -->
            <!--Tablet and above Image-->
            <!-- <source media="(min-width: 601px)" srcset="/assets/images/termsandpolicybanner.jpg">
            <img decoding="async" src="/assets/images/termsandpolicybanner.jpg" alt="people laughing" width="1280" height="568" aria-hidden="true">
        </picture> -->
    </div>
</div>
                                

    <!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Terms of Service</h2>
            <p class="cs-text">
                
               <i>Effective September 2024 </i> <br><br>
               Welcome to Montano Plumbing and Contracting LTD. By accessing our website and
               using our services, you agree to the following Terms of Service (&quot;Terms&quot;). If you do not
               agree to these Terms, please do not use our website or services.<br><br>
                <b>1. Introduction</b><br>
                We may collect the following types of information:<br>
                Montano Plumbing and Contracting (&quot;we&quot;, &quot;our&quot;, &quot;us&quot;) provides professional plumbing,
contracting, and renovation services in Edmonton, Alberta. These Terms govern your
access to and use of our website [www.montanoplumbing.ca] and services.<br><br>
                
                <b>2. Services</b><br>
                Our services include, but are not limited to, plumbing repairs, installations, renovations,
                and general contracting. Service availability may vary based on location and project
                scope. For specific terms related to a project, a written service agreement will be
                provided.<br><br>
               
                <b>3.Use of the Website</b><br>
               
                <b>Eligibility:</b>: Third-party companies that help us operate our website,
                conduct our business, or provide services to you, under strict confidentiality
                agreements.<br>
                <b>Prohibited Activities:</b>: You may not use our website for any illegal activities, to
                disrupt our services, or interfere with other users.<br><br>
             
                
                
                <b> 4. Estimates and Payments</b><br>
                All service estimates provided through the website or via email are non-binding until
confirmed by a signed contract. Payments are required as per the terms of the service
agreement.<br><br>


                <b>5. Intellectual Property</b><br>
                <b>Ownership of Website Design and Content</b>: The design, layout, and content of
this website are the property of Bespoke Web Design Edmonton, except for
materials provided by Montano Plumbing and Contracting.<br>
<b>Client Content:</b> Any materials, such as images or descriptions, provided by
Montano Plumbing and Contracting remain their property. By using these
materials on the website, you grant us the right to display them for the duration of
your subscription.<br>
<b>License to Use::</b> While subscribed to our services, you are granted a limited, non-
exclusive, revocable license to use the website and its content. Upon
cancellation or termination of your subscription, this license ends, and the
website may be deactivated.<br>
<b>Hosting and Subscription-Based Access:</b> The website is hosted and managed by
Bespoke Web Design Edmonton. If your subscription is canceled or terminated,
the website will be taken offline, and you will lose access to the content.<br><br>

                <b> 6. Limitation of Liability</b><br>
                We are not responsible for any direct or indirect damages resulting from the use of our
website or services, including loss of data, profits, or business interruption. Our liability
for any claims will be limited to the amount paid by you for the services in question.<br>
                <br>
                <b>7. Warranties and Disclaimers</b><br>
                Our services are provided &quot;as is&quot; without warranties of any kind. While we aim to
provide accurate and reliable information, we do not guarantee the accuracy, reliability,
or completeness of any content on our website.<br><br>
                
                <b>8. Changes to Terms</b><br>
                
                We reserve the right to modify these Terms at any time. Changes will be posted on this
page, and your continued use of the website or services after any changes will indicate
your acceptance of the updated Terms.<br><br>

<b>9. Governing Law</b><br>
                
    These Terms will be governed by and interpreted in accordance with the laws of Alberta,
    Canada.<br><br>

                <b>10. Contact Us</b> <br>
                If you have any questions or concerns about this Privacy Policy, please contact us at:<br>
                <b>Montano Plumbing and Contracting LTD</b><br>
                info@montanoplumbing.ca   <br>      <br>   </p>
        </div>
    </div>
</section>

    

{% endblock %}
