---
title: 'Renovation| Montano Plumbing & Contracting LTD.'
description: 'Your Trusted Partner for Renovations and Plumbing'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'renovation/'
eleventyNavigation:
    key: Renovation
    order: 250
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/renovation.css">

        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ site.url }}/assets/images/ogmontano.png"/>
        <meta property="og:image:secure_url" content="{{ site.url }}/assets/images/ogmontano.png"/>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1250">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Transform your space with our expert renovation services.</h1>
            <p class="cs-text">
                Our team is dedicated to delivering high-quality renovations that meet your needs and exceed your expectations.
            </p>
            <a href="/contact" class="cs-button-solid">Get A Quote</a>
        </div>
       <div></div>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/kitchenrenov.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/kitchenrenov.webp">
        <img decoding="async" src="/assets/images/kitchenrenov.webp" alt="construction" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
               
<section id="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>
             
          </ul>
  
      </section>



<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1251">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Professional Renovation Services</h2>
            </div>
            <p class="cs-text">
                Expert renovation services delivering high-quality transformations for homes and businesses. From design to completion, we ensure exceptional craftsmanship and attention to detail for every project.            </p>
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Basement Development</h3>
                    <p class="cs-item-text">
                        Basement development to maximize space and modernize functionality 
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/basementdev.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/basementdev.jpg">
                    <img decoding="async" src="/assets/images/basementdev.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Washroom Renovation</h3>
                    <p class="cs-item-text">
                        Washroom renovation to upgrade style, functionality, and comfort.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/washroomreno.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/washroomreno.jpg">
                    <img decoding="async" src="/assets/images/washroomreno.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <h3 class="cs-h3">Kitchen Renovation</h3>
                    <p class="cs-item-text">
                        Kitchen renovation to enhance design, efficiency, and usability. 
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/kitchenreno.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/kitchenreno.jpg">
                    <img decoding="async" src="/assets/images/kitchenreno.jpg" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                



 
        
 
                                            

        <!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-48">
    
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">Our Previous Projects</h2>
            
            
        </div>
        <div class="cs-image-group">
            <div class="cs-row cs-row-1">
                <!-- Row 1-->
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/gal1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gal1.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/gal1.jpg" alt="new hallway" width="420" height="567">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/gal2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gal2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/gal2.jpg" alt="new home construction" width="420" height="630">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/gal3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gal3.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/gal3.jpg" alt="building a new wall" width="420" height="512">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 2 -->
            <div class="cs-row cs-row-2">
                <picture class="cs-picture cs-picture-1">
                    <source media="(min-width: 600px)" srcset="/assets/images/gal4.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gal4.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/gal4.jpg" alt="new kitchen" width="420" height="492">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/gal5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gal5.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/gal5.jpg" alt="apartment addition" width="420" height="517">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/10.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/10.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/10.jpg" alt="kew kitchen cabinets" width="420" height="629">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            <!-- Row 3 -->
            <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/gal7.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gal7.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/gal7.jpg" alt="new black window structure" width="420" height="625">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/gal8.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gal8.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/gal8.jpg" alt="kitchen rebovation" width="420" height="452">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/gal9.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/gal9.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/gal9.jpg" alt="bathroom renovation" width="420" height="629">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
               <!-- Row 4-->
               <div class="cs-row cs-row-3">
                <picture class="cs-picture cs-picture-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/11.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/11.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/11.jpg" alt="new black window structure" width="420" height="625">
                </picture>
                <picture class="cs-picture cs-picture-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/12.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/12.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/12.jpg" alt="kitchen rebovation" width="420" height="452">
                </picture>
                <picture class="cs-picture cs-picture-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/13.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/13.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/13.jpg" alt="bathroom renovation" width="420" height="629">
                </picture>
                <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
            </div>
            
        </div>
     
    </div>
</section>
                                          
                

    {% include 'components/cta.html' %}

{% endblock %}
