---
title: 'Montano Plumbing & Contracting LTD.'
description: 'Your Trusted Partner for Renovations and Plumbing'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="{{ site.url }}/assets/images/ogmontano.png"/>
        <meta property="og:image:secure_url" content="{{ site.url }}/assets/images/ogmontano.png"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->





<body>

<div class="carousel">
    <div class="carousel-inner">
        
            
        
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item">
            <!-- <img src="/assets/images/1.png"> -->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <picture class="cs-background">
                <source media="(max-width: 600px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/m1.webp">
                <source media="(min-width: 601px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/1.webp">
                <img decoding="async" rel="preload" as="image"   decoding="async"loading="eager" src="/assets/images/1.webp" alt="" aria-hidden="true">
            </picture>
            
        </div>
      
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
         
            <picture class="cs-background">
                <source media="(max-width: 600px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/m2.webp">
                <source media="(min-width: 601px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/2.webp">
                <img decoding="async" rel="preload" as="image"  decoding="async" loading="eager" src="/assets/images/2.png" alt="" aria-hidden="true">
            </picture>
        </div>
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item">
           
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
            <picture class="cs-background">
                <source media="(max-width: 600px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/m3.webp">
                <source media="(min-width: 601px)" rel="preload"  decoding="async" as="image" loading="eager" srcset="/assets/images/3.webp">
                <img decoding="async" rel="preload" as="image"  decoding="async" loading="eager" src="/assets/images/3.png" alt="" aria-hidden="true">
            </picture>
        </div>
        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-1" class="carousel-control next control-3">›</label>
        
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
           
        </ol>
        
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const slides = document.querySelectorAll('.carousel-open'); // Select all radio inputs
        let currentIndex = 0;
    
        function showNextSlide() {
            // Uncheck current slide and check the next one
            slides[currentIndex].checked = false;
            currentIndex = (currentIndex + 1) % slides.length; // Cycle through the slides
            slides[currentIndex].checked = true;
        }
    
        // Set the interval to 3 seconds for the slide change
        setInterval(showNextSlide, 3000);
    });
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const slides = document.querySelectorAll('.carousel-open');
            let currentIndex = 0;
            let startX;
        
            function showNextSlide() {
                slides[currentIndex].checked = false;
                currentIndex = (currentIndex + 1) % slides.length;
                slides[currentIndex].checked = true;
            }
        
            function showPreviousSlide() {
                slides[currentIndex].checked = false;
                currentIndex = (currentIndex - 1 + slides.length) % slides.length;
                slides[currentIndex].checked = true;
            }
        
            // Swipe detection
            document.querySelector('.carousel-inner').addEventListener('touchstart', (e) => {
                startX = e.touches[0].clientX;
            });
        
            document.querySelector('.carousel-inner').addEventListener('touchend', (e) => {
                const endX = e.changedTouches[0].clientX;
                if (startX > endX + 50) {
                    // Swipe left
                    showNextSlide();
                } else if (startX < endX - 50) {
                    // Swipe right
                    showPreviousSlide();
                }
            });
        });
        </script>
        
</body>




<section id="hero-446">
  <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number"></span>
                <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                    projects ranging from $2,000 to $100,000.</span> <br>
                <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
            </li>
           
        </ul>

    </section>






<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1957">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="plumbing-and-heating/" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">PLUMBING</span>
                        <h3 class="cs-h3"></h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/plumbingserviceshero.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/plumbingserviceshero.jpg">
                    <img decoding="async" src="/assets/images/plumbingserviceshero.jpg" alt="" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="plumbing-and-heating/" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">HEATING</span>
                        <h3 class="cs-h3"></h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/HEATINGHERO.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/HEATINGHERO.webp">
                    <img decoding="async" src="/assets/images/HEATINGHERO.webp" alt="" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="plumbing-and-heating/" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">GASFITTING</span>
                        <h3 class="cs-h3"></h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/GASFITTINGHERO.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/GASFITTINGHERO.webp">
                    <img decoding="async" src="/assets/images/GASFITTINGHERO.webp" alt="" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="renovation/" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=DfOdG8905JXY&format=png&color=FFFBFB" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">RENOVATION</span>
                        <h3 class="cs-h3"></h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/kitchenrenov.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/kitchenrenov.webp">
                    <img decoding="async" src="/assets/images/kitchenrenov.webp" alt="" width="455" height="337" aria-hidden="true">
                </picture>
            </li>

            
                                            
        </ul>
    </div>
</section>
                                
             

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1738">
    <div class="cs-container">
        <ul class="cs-card-group">
            
            <li class="cs-item">
                <a href="renovation/" class="cs-redirect">
                <span class="cs-number">15</span>
                <p class="cs-item-text">
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://img.icons8.com/?size=100&id=9ECnYpBa4VDd&format=png&color=000000" alt="white arrow icon" width="50" height="50" aria-hidden="true">
                    
                    Completed Basement Renovations Since 2020
                </p>
                <!-- <a href="renovation/" class="cs-link"><img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white%20right%20arrow.svg" alt="white arrow icon" width="20" height="20" aria-hidden="true">
                </a> -->
            </a>
            </li>
            <li class="cs-item">
                <a href="https://www.facebook.com/yeg.mpc/reviews" class="cs-redirect">
                <span class="cs-number">5.0 Star</span>
                <p class="cs-item-text">
                    ⭐⭐⭐<br>⭐⭐ <br>Reviews in Facebook            </p>
                <!-- <a href="https://www.facebook.com/yeg.mpc/reviews" class="cs-link"><img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white%20right%20arrow.svg" alt="white arrow icon" width="20" height="20" aria-hidden="true"> -->
                </a> 
            </a>
            </li>
            <li class="cs-item">
                <a href="https://www.google.com/maps/place/Montano+Plumbing+%26+Contracting+Ltd./@53.3415156,-113.3602913,9z/data=!4m2!3m1!1s0x0:0x3e9a65105016fe79?sa=X&ved=1t:2428&ictx=111" class="cs-redirect">
                <span class="cs-number">5.0 Star</span>
                <p class="cs-item-text">
                    ⭐⭐⭐<br>⭐⭐<br> Reviews in Google                </p>
                <!-- <a href="https://www.google.com/maps/place/Montano+Plumbing+%26+Contracting+Ltd./@53.4984532,-113.5054173,9.66z/data=!4m8!3m7!1s0x6988ef8116c31817:0x3e9a65105016fe79!8m2!3d53.3415156!4d-113.3602913!9m1!1b1!16s%2Fg%2F11kqbxgl6z!5m1!1e1?entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" class="cs-link red"><img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/white%20right%20arrow.svg" alt="white arrow icon" width="20" height="20" aria-hidden="true"> -->
                </a> 
            </a> 
            </li>
        </ul>
    </div>
</section>
                                



<!-- ============================================ -->
<!--                   Hero                       -->
<!-- ============================================ -->

<section id="hero-408">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title"><span class="cs-color">Financing Available </span> for Home Renovation and Plumbing & Heating Installation Projects.</h2>
            <p class="cs-text">
                Secure financing from $2,000 up to $100,000 for installations and renovations.            </p>
            <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid">Learn More</a>
           
        
            
        </div>
        <div class="cs-stat-group">
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/images/gal7.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/gal7.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gal7.jpg" alt="leaves" width="842" height="737" aria-hidden="true">
            </picture>
           
        </div>
    </div>
</section>
                                


<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>
             
          </ul>
  
      </section>
  


<!-- ============================================ -->
<!--                    Services                  -->
<!-- ============================================ -->

<section id="services-1729">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex-group">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">We Got What You Need</h2>
            </div>
            <p class="cs-text">
                We provide comprehensive solutions for plumbing, heating, renovation, and gas fitting, ensuring your home operates smoothly and safely. Our expert team delivers reliable and efficient services to enhance your comfort and property value.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/plumbingtile.jpg">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/plumbingtile.jpg">
                    <img decoding="async"
                            src="/assets/images/plumbingtile.jpg"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Plumbing</h3>
                    <p class="cs-item-text">
                        A good plumbing system is crucial for maintaining a clean and healthy living environment by preventing leaks, water damage, and costly repairs. It ensures reliable access to clean water and efficient waste removal, contributing to the overall safety and comfort of your home.                    </p>
                    <a href="plumbing-and-heating/" class="cs-link">
                        Learn More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/heatingtile.jpg">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/heatingtile.jpg">
                    <img decoding="async"
                            src="/assets/images/heatingtile.jpg"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Heating</h3>
                    <p class="cs-item-text">
                        Having a good heating system at home is essential for maintaining a comfortable and healthy living environment, especially during cold weather. It ensures consistent warmth, reduces energy costs, and prevents issues like frozen pipes or dampness.       </p>
                    <a href="plumbing-and-heating/" class="cs-link">
                        Learn More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/GASFITTINGHERO.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/GASFITTINGHERO.webp">
                    <img decoding="async"
                            src="/assets/images/GASFITTINGHERO.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Gasfitting</h3>
                    <p class="cs-item-text">
                        Proper gas fitting is vital for ensuring the safe and efficient use of gas appliances, minimizing the risk of leaks or explosions. It also ensures compliance with safety regulations, protecting both your home and its occupants.                    </p>
                    <a href="plumbing-and-heating/" class="cs-link">
                       Learn More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)"
                            srcset="/assets/images/kitchenrenov.webp">
                    <source media="(min-width: 601px)"
                            srcset="/assets/images/kitchenrenov.webp">
                    <img decoding="async"
                            src="/assets/images/kitchenrenov.webp"
                            alt="finance" width="413" height="374" aria-hidden="true" loading="lazy">
                </picture>
                <div class="cs-details">
                    <span class="cs-tag"></span>
                    <h3 class="cs-h3">Renovation</h3>
                    <p class="cs-item-text">
                        Renovation is important for enhancing the functionality and aesthetics of your home, increasing its value and comfort. It allows you to modernize outdated spaces, address structural issues, and adapt your home to changing needs.                    </p>
                    <a href="renovation/" class="cs-link">
                        Learn More
                        <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/chevron-right-white.svg" alt="icon" width="20" height="20" aria-hidden="true">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>
                                






<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>
             
          </ul>
  
      </section>
  



<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1088">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Client Feedbacks & Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">

                <img class="cs-image" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/reviews3.png" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Reliable, fast action, and knowledgeable specially in these extreme cold weather.highly recommended and thank you.         
                     <div class="cs-flex">
                    <span class="cs-name">Zio Gualberto</span>
                    <span class="cs-desc">6 months ago</span>
                    ⭐⭐⭐⭐⭐  
                
                
                </div>
            </li>
            <li class="cs-item">


                <img class="cs-image" src="/assets/images/user.jpg" alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    My water heater broke and MPC came quick. The specific parts for my tank were really hard to find but the very next day they came with that parts and fixed it quick. Professional, reasonable service fee and quick service. Thank you! Maraming salamat po.                <div class="cs-flex">
                    <span class="cs-name">Lester Tiangsing</span>
                    <span class="cs-desc">May 25, 2023</span>
                    ⭐⭐⭐⭐⭐  
                
                </div>
            </li>
            <li class="cs-item">
                <img class="cs-image" src="/assets/images/user2.jpg"alt="profile" width="112" height="112" aria-hidden="true" decoding="async" loading="lazy">
                <img class="cs-icon" src="/assets/images/quote.svg" alt="icon" width="52" height="36" aria-hidden="true" decoding="async" loading="lazy">
                <p class="cs-item-text">
                    Highly recommended! 👌 done with sump pump replacement & kitchen sink repair service with MPC Ltd. 👍 Great service from my kababayan Raymond! 10 out of 10 will do it again 😉                <div class="cs-flex">
                    <span class="cs-name">Marivic Peralta - Añover</span>
                    <span class="cs-desc">August 5, 2020</span>
                    ⭐⭐⭐⭐⭐  
                </div>
            </li>
        </ul>
        <a target="_blank" href="https://www.google.com/maps/place/Montano+Plumbing+%26+Contracting+Ltd./@53.4633179,-113.6871153,10.3z/data=!4m8!3m7!1s0x6988ef8116c31817:0x3e9a65105016fe79!8m2!3d53.3415156!4d-113.3602913!9m1!1b1!16s%2Fg%2F11kqbxgl6z?hl=en&entry=ttu" class="cs-button-5">
            <span class="cs-button-text">Read More</span>
        </a>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>
             
          </ul>
  
      </section>
  





<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->

<section id="content-page-851">
    <div class="cs-container">
        <div class="cs-content"><br><br><br>
            <h1 class="cs-title"> <span class="cs-color">Montano Plumbing & Contracting LTD.</span></h1><br>
            
            <h4>MPC delivers exceptional renovation and plumbing services for residential and commercial clients. We pride ourselves on exceeding expectations with our reliable, professional approach, ensuring every project is completed to the highest standards. 
<br><br>
                Trust MPC for quality service and lasting peace of mind.
                <br><br>
            
                Licensed and Insured</h4>


            
          
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/mpclogo1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/mpclogo1.png">
                <img decoding="async" src="/assets/images/mpclogo1.png" alt="person" width="542" height="520" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
                                



<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>
             
          </ul>
  
      </section>
  



<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1209">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper"></span>
            <h2 class="cs-title">Why Choose MPC?</h2>
            <p class="cs-text">
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <h3 class="cs-h3"></h3>
                <p class="cs-item-text">
                    Montano Plumbing & Contracting LTD is your go-to expert for plumbing, gas fitting, and renovations in Edmonton and the surrounding areas.                 </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <h3 class="cs-h3"></h3>
                <p class="cs-item-text">
                    Our skilled team is committed to delivering top-quality service and exceptional craftsmanship on every project. From repairs to installations, we handle all your residential plumbing needs with precision and care.                 </p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <h3 class="cs-h3"></h3>
                <p class="cs-item-text">
                    Choose MPC for reliable, expert service that ensures your home improvement projects are done right the first time.                </p>
            </li>
        </ul>
    </div>
</section>
                                
           



                                


<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="hero-446">
    <ul class="cs-card-group">
              <li class="cs-item">
                  <span class="cs-number"></span>
                  <span class="cs-desc">We offer financing on any plumbing/heating installation and home renovation
                      projects ranging from $2,000 to $100,000.</span> <br>
                  <a target="_blank" href="https://www.financeit.ca/s/PBTFXw" class="cs-button-solid1">AVAIL</a>
              </li>
             
          </ul>
  
      </section>













    



    {% include 'components/cta.html' %}
{% endblock %}
